
<div class=" login-div">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-8 col-md-6 col-lg-4">
      <div class="form-group">
        <h1 align="center" class="login-heading font-weight-bolder font-italic">Login</h1>

     <!--- <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="login-centered">-->
        <div class="form-group">
          <label class="font-weight-bold">Username</label>
         <!---- <input class="form-control" type="text">-->
          <form [formGroup]="loginForm" class="login-centered" (ngSubmit)="login()">
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
           <input class="form-control" type="email" placeholder="Email" formControlName="email">
          </p>

          <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
            <div *ngIf="formControls.email.errors.required">Email is required

            </div>
          </div>
        <div class="form-group">
          <label class="font-weight-bold">Password</label>
          <!--<input class="form-control" type="password">-->



          <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input class="form-control" type="password" placeholder="Password" formControlName="password">
          </p>

          <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required">Password is required

            </div>
          </div>

        </div>
        <div class="form-group">
          <button class="login-button btn-block btn-primary btn btn-lg" type="submit" value="Log in" >Login</button>

        </div>
        <div class="form-group form-check">
          <input class="form-check-input check-box" type="checkbox">
          <label class="form-check-label">Remember me</label>
        </div>

        <br>
        <div class="form-group">
          <button class="signup-button btn btn-primary">sign up</button>
          <label class="forgot-password">Forgot password?</label>
        </div>
      </form>
    </div>
